body {
    font-family: sans-serif;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: lighter;
}

.img-medium {
    height: 200px;
}
.container{
            font-family:monospace;
            margin:0 auto;
            color:#5f4c4c;
            background-color:white;
            padding-top:40px;
    }
.background-color{
    background-color:aquamarine;
    padding-top:40px;
}
